<form id="regForm" action="/registration" method="post">
{{titleCheck}}
    <label>Имя: <input type="text" name="inputName"></label>
    <label>E-mail: <input type="email" name="inputEmail"></label>
    <label>Пароль: <input type="password" name="inputPassw"></label>
    <button type="submit">Зарегистрироваться</button>
</form>
