<header>
    <nav>
      <div class="container">
        <ul class="menu">
          {{#if name}}
            <li class="menu_item"><a id="homeLink" class="menu_link" href="/">Главная</a></li>
            <li class="menu_item"><a id="bestRoutes" class="menu_link" href="/allRoutes">Все веломаршруты</a></li>
            <li class="menu_item"><a id="registerLink" class="menu_link" href="/#">{{name}}</a></li>
            <li class="menu_item"><a id="loginLink" class="menu_link" href="/logout">Выйти</a></li>
          {{else}}
            <li class="menu_item"><a id="homeLink" class="menu_link" href="/">Главная</a></li>
            <li class="menu_item"><a id="bestRoutes" class="menu_link" href="/allRoutes">Все веломаршруты</a></li>
            <li class="menu_item"><a id="registerLink" class="menu_link" href="/registration">Зарегистрироваться</a></li>
            <li class="menu_item"><a id="loginLink" class="menu_link" href="/login">Войти</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <div class="subheader">
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <a href="#" class="subheader_logo">VELOSTRANA 🚲</a>

            <div class="subheader_official">ВЕЛОМАРШРУТЫ ПО ВСЕЙ РОССИИ</div>
          </div>

          <div class="col-md-2 offset-md-2">
            <div class="subheader_call">По всем вопросам звонить</div>
            <a href="tel:88005553535" class="subheader_phone">8 800 555 35 35</a>
          </div>

          <div class="col-md-2">
            <button id="routesPageBtn" class="subheader_btn" type="submit"><a style="color:white" href="/routesPage">Лучшие маршруты</a></button>
          </div>
        </div>
      </div>
    </div>
  </header>

<div id="allRoutes-container">
  Извините, мы не успели ;((
</div>
