<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/loginFront.js" defer></script>
  <title>Document</title>
  <script src="js/application.js" defer></script>
  <script src="js/yandexmap.js" defer></script>
  <script src="https://api-maps.yandex.ru/2.1?apikey=637be60a-9fc6-4edb-acae-bc2a52ecc71f&lang=ru_RU"
    type="text/javascript"></script>
  {{!-- <script defer src="/js/yandexmap.js" type="text/javascript"></script> --}}
  {{!-- <link href="../style/home.css" rel="stylesheet"> --}}
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/routesPage.css">
  <link rel="stylesheet" href="../css/allRoutes.css">

  <script src="js/regFront.js" defer></script>
  <title>Document</title>
  {{!-- <link href="../style/main.css" rel="stylesheet"> --}}
</head>
<body>
  <div id="test">
      <div id="putBodyHere">
    {{{body}}}
  </div>
  {{!-- <div id="map" style="width: 600px; height: 400px"></div> --}}
  </div>
  {{!-- <div id="putBodyHere">
    {{{body}}}
  </div> --}}
  {{!-- <div id="map" style="width: 600px; height: 400px"></div> --}}
</body>
</html>
